.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	&__dialog {
		max-width: 500px;
		margin: 40px auto;
	}
	&__content {
		position: relative;
		width: 100%;
		padding: 40px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		max-height: 80vh;
		overflow-y: auto;
	}
	&__close {
		position: absolute;
		top: 8px;
		right: 14px;
		font-size: 30px;
		color: #000;
		opacity: 0.5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	&__title {
		margin-top: 20px;
		text-align: center;
		font-size: 40px;
		line-height: 44px;
		font-weight: bold;
	}
	&__subtitle {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
	}
	&__input {		
		display: block;
		margin: 10px auto 20px auto;
		width: 400px;
		height: 50px;
		background: #F5F5F5;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
		border: none;
		font-size: 18px;
		text-align: center;
		padding: 0 20px;
		outline: 0;
	}
	&__input[type="text"] {
		margin-top: 50px;
		width: 200px;
	}
	&__input[data-email-login] {
		margin-top: 50px;
	}
	&__btn {
		margin: 0 auto;
		width: 420px;
		height: 44px;
		background: #089FE0;
		border-radius: 5px;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
	}
}
.show {
	display: block;
}
.hide {
	display: none;
}
.flex {
	display: flex;
	justify-content:center;
}